<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Pizzería Ana la Rana">
    <title>Pizzeria Ana la Rana</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <style>
        
    </style>
</head>
<body>

    <h1 id = "combosALA">Combos de Pizza</h1>

    <div class="precio-combos">
        Todos los combos valen 12.99€
    </div>

    <form action="/form_comboALA" method="post">
        <div class="combo">
            <input type="radio" name = "combo" id="comboPareja">
            <label for="comboPareja">
                <h2>Combo Pareja</h2>
                <ul>
                    <input type = "hidden" name = "id" value= "comboPareja">
                    <input type="text" name ="entrante" value = "palitos de queso">Entrante: Palitos de queso</input>
                    <input type="text" name = "pizza" value = "pepperoni">Pizza: Pizza de Pepperoni</input>
                    <input type="text" name ="bebida", value = "cocacola">Bebida: Coca Cola</input>
                    <input type="text" name ="postre", value = "Tarta de fresa">Postre: Tarta de Fresa</input>
                </ul>
            </label>
        </div>

        <div class="combo">
            <input type="radio" name = "combo" id="comboNavidad">
            <label for = "comboNavidad">
                <h2>Combo Navidad (Por Tiempo Limitado)</h2>
                <ul>
                    <input type = "hidden" name = "id" value= "comboNavidad">
                    <input type="text" name="entrante" value = "ensalada navideña" >Entrante: Ensalada Navideña</li>
                    <input type="text" name="pizza" value = "pizza festiva">Pizza: Pizza Festiva</li>
                    <input type="text" name="bebida" value = "ponche de frutas">Bebida: Ponche de Frutas</li>
                    <input type="text" name="postre" value = "tronco de Navidad">Postre: Tronco de Navidad</li>
                </ul>
            </label>
        </div>

        <div class="combo">
            <input type="radio" name = "combo" id="comboDulce">
            <label for="comboDulce">
                <h2>Combo Dulce</h2>
                <ul>
                    <input type = "hidden" name = "id" value= "comboDulce">
                    <input type="text" name="entrante" value = "mini Coockies" >Entrante: Mini Coockies</li>
                    <input type="text" name="pizza" value = "pizza nutella y platano" >Pizza: Pizza de Nutella y Plátano</li>
                    <input type="text" name="postre" value = "brownie" >Postre: Brownie</li>
                    <input type="text" name="bebida" value = "batido chocolate" >Bebida: Batido de Chocolate</li>
                </ul>
            </label>
        </div>

        <div class="combo">
            <input type="radio" name = "combo" id="comboPicante">
            <label for="comboPicante">
                <h2>Combo Picante</h2>
                <ul>
                    <input type = "hidden" name = "id" value= "comboPicante">
                    <input type="text" name="entrante" value = "jalapeños" >Entrante: Jalapeños Rellenos</li>
                    <input type="text" name="pizza" value = "pizza picante" >Pizza: Pizza Picante de Pollo</li>
                    <input type="text" name="bebida" value = "cervezamex" >Bebida: Cerveza Mexicana</li>
                    <input type="text" name="postre" value = "sorbete" >Postre: Sorbete de Limón</li>
                </ul>
            </label>
        </div>
        <button id="enviarBtn" >Enviar Pedido</button>
    </form>
</body>
</html>
