<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Pizzería Ana la Rana">
    <title>Pizzeria Ana la Rana</title>
    <style>
        
    </style>
</head>
<body>

    <h1 id = "combosALA">Combos de Pizza</h1>

    <div class="combo">
        <h2>Combo Pareja</h2>
        <ul>
            <li>Entrante: Mozarella Sticks</li>
            <li>Pizza: Pizza de Pepperoni</li>
            <li>Bebida: Refresco de cola</li>
            <li>Postre: Tiramisú</li>
        </ul>
    </div>

    <div class="combo">
        <h2>Combo Navidad (Por Tiempo Limitado)</h2>
        <ul>
            <li>Entrante: Ensalada Navideña</li>
            <li>Pizza: Pizza Festiva</li>
            <li>Bebida: Ponche de Frutas</li>
            <li>Postre: Tronco de Navidad</li>
        </ul>
    </div>

    <div class="combo">
        <h2>Combo Solo-Pizza</h2>
        <ul>
            <li>Pizza: Pizza Margarita</li>
        </ul>
    </div>

    <div class="combo">
        <h2>Combo Entrantes a Tutiplen</h2>
        <ul>
            <li>Entrante: Palitos de Queso</li>
            <li>Entrante: Deditos de Pollo</li>
            <li>Entrante: Aros de Cebolla</li>
            <li>Bebida: Agua</li>
        </ul>
    </div>

    <div class="combo">
        <h2>Combo Dulce</h2>
        <ul>
            <li>Pizza: Pizza de Nutella y Plátano</li>
            <li>Postre: Brownie con Helado</li>
            <li>Bebida: Batido de Chocolate</li>
        </ul>
    </div>

    <div class="combo">
        <h2>Combo Picante</h2>
        <ul>
            <li>Entrante: Jalapeños Rellenos</li>
            <li>Pizza: Pizza Picante de Pollo</li>
            <li>Bebida: Cerveza Mexicana</li>
            <li>Postre: Sorbete de Limón</li>
        </ul>
    </div>

</body>
</html>
