<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta name="description" content="Pizzería Ana la Rana">
        <title>Pizzería Ana la Rana</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body>
    <h1 id = "combosanalarana">Combos Ana La Rana</h1>
    <main>
        <div class="combo-container">
            <div class="combo" onclick="mostrarDetalle('Combo 1', 'combo1.jpg', this)">Combo 1<img src="combo1.jpg" alt="Combo 1"></div>
            <div class="combo" onclick="mostrarDetalle('Combo 2', 'combo2.jpg', this)">Combo 2<img src="combo2.jpg" alt="Combo 2"></div>
            <div class="combo" onclick="mostrarDetalle('Combo 3', 'combo3.jpg', this)">Combo 3<img src="combo3.jpg" alt="Combo 3"></div>
        </div>

        <div id="detalle-combo"></div>
    </main>

    <script>
        function mostrarDetalle(nombre, imagen, elemento) {
            // Oculta el detalle de combos anteriores
            var detallesAnteriores = document.querySelectorAll('.combo');
            detallesAnteriores.forEach(function (detalleAnterior) {
                detalleAnterior.classList.remove('selected');
            });

            // Muestra el detalle del combo actual
            var detalleCombo = document.getElementById('detalle-combo');
            detalleCombo.innerHTML = '<h2>' + nombre + '</h2><img src="' + imagen + '" alt="' + nombre + '">';
            detalleCombo.style.display = 'block';

            // Marca el combo como seleccionado
            elemento.classList.add('selected');
        }
    </script>

</body>
</html>