<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Pizzería Ana la Rana">
    <title>Pizzería Ana la Rana</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body>
    <h1 id = "creatucombo">Crea tu menú</h1>
    <form action = "/form_combo" method = "post">
        <fieldset>
            <legend>Entrante</legend>
            <p>Seleccione el entrante que desea:</p>
            <input type="radio" name="entrante" value="pan de ajo">Pan de Ajo 3.0€<br>
            <input type="radio" name="entrante" value="palitos de queso">Palitos de Queso 2.5€<br>
            <input type="radio" name="entrante" value="bruschetta">Bruschetta 4.75€<br>
            <input type="radio" name="entrante" value="aros de cebolla">Aros de Cebolla 3.0€<br>
            <input type="radio" name="entrante" value="patatas queso bacon">Patatas con queso y bacon 4.0€<br>
            <input type="radio" name="entrante" value="deditos pollo">Deditos de pollo 2.5€<br>
            <input type="radio" name="entrante" value="provolone">Provolone 4.75€<br>
            <input type="radio" name="entrante" value="ensalada caprese">Ensalada caprese 5.0€<br>
            <input type="radio" name="entrante" value="ensalada mixta">Ensalada mixta 5.0€<br>
            <input type="radio" name="entrante" value="mix entrantes">Mix de entrante 6.5€s<br>
        </fieldset>           

        <fieldset>
            <legend>Pizza</legend>
            <p>Seleccione la pizza que desea:</p>
            <input type="radio" name="pizza" value="margarita">Margarita 6.0€<br>
            <input type="radio" name="pizza" value="cuatroquesos">Cuatro quesos 7.0€<br>
            <input type="radio" name="pizza" value="barbacoa">Barbacoa 7.0€<br>
            <input type="radio" name="pizza" value="carbonara">Carbonara 7.0€<br>
            <input type="radio" name="pizza" value="pepperoni">Pepperoni 7.0€<br>
            <input type="radio" name="pizza" value="hawaiana">Hawaiana 7.0€<br>
            <input type="radio" name="pizza" value="4estaciones">4 estaciones 7.0€<br>
            <input type="radio" name="pizza" value="especialdelchef">Especial del chef 8.0€<br>
            <input type="radio" name="pizza" value="vegetariana">Vegetariana 7.0€<br>
            <input type="radio" name="pizza" value="suprema">Suprema 8.0€<br>
        </fieldset>

        <fieldset>
            <legend>Bebida</legend>
            <p>Seleccione la bebida que desea:</p>
            <input type="radio" name="bebida" value="Sin bebida">Sin bebida 0.0€<br>
            <input type="radio" name="bebida" value="cocacola">Coca-Cola 1.5€<br>
            <input type="radio" name="bebida" value="Agua">Agua 1.0€<br>
            <input type="radio" name="bebida" value="fantanaranja">Fanta Naranja 1.5€<br>
            <input type="radio" name="bebida" value="fantalimon">Fanta Limón 1.5€<br>
            <input type="radio" name="bebida" value="nestea">Nestea 1.5€<br>
            <input type="radio" name="bebida" value="sprite">Sprite 1.5€<br>
            <input type="radio" name="bebida" value="cerveza">Cerveza 2.5€<br>
            <input type="radio" name="bebida" value="vino">Vino 3.0<br>
            <input type="radio" name="bebida" value="Sorprendame">Sorprendame 2.5€<br>
        </fieldset>

        <fieldset>
            <legend>Postre</legend>
            <p>Seleccione el postre que desee:</p>
            <input type="radio" name="postre" value="Sin postre">Sin postre 0.0€<br>
            <input type="radio" name="postre" value="Tarta de queso">Tarta de queso 2.0€<br>
            <input type="radio" name="postre" value="Tarta de chocolate">Tarta de chocolate 2.0€<br>
            <input type="radio" name="postre" value="Tarta de manzana">Tarta de manzana 2.0€<br>
            <input type="radio" name="postre" value="Tarta de limon">Tarta de limon 2.0€<br>
            <input type="radio" name="postre" value="Tarta de fresa">Tarta de fresa 2.0€<br>
            <input type="radio" name="postre" value="Brownie">Brownie 2.5€<br>
            <input type="radio" name="postre" value="Helado">Helado 1.5€<br>
            <input type="radio" name="postre" value="Fruta">Fruta 1.5€<br>
            <input type="radio" name="postre" value="Sorprendame">Sorprendame 2.5€<br>
        </fieldset>

        <fieldset>
            <legend>Comentarios</legend>
            <p>Si tiene algún comentario, escribalo aquí:</p>
            <textarea name="comentarios" rows="10" cols="30"></textarea>
        </fieldset>
        <input type="submit" value="Enviar">
    </form>

    <footer>
        <p>¿Tiene alguna pregunta? Llame al siguiente número: 666 666 666</p>
    </footer>
    
</body>