/* Reset de estilos */
body, h1, h2, ul, li, p, textarea, input {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: url('/static/images/logo4.jpg') center center no-repeat; /* Centra la imagen y evita la repetición */
    background-size: auto 70%; /* Ajusta el tamaño vertical al 70%, puedes ajustar este valor según tus necesidades */
    background-attachment: fixed; /* Fija la imagen para que no se mueva al hacer scroll */
    background-color: rgb(0 146 70); /* Color de fondo verde */
    color: #333;
}

header, footer {
    max-width: 1200px; /* Ancho máximo del elemento */
    margin: 0 auto; /* Centra el elemento en el espacio restante horizontalmente */
    border-radius: 10px; /* Bordes más redondos */

}

header {
    background-color: rgb(206 43 55);
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    margin: 20px;
}

section#Menu {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px; /* Bordes más redondos */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Hacer que los elementos internos sean flexibles */
    justify-content: space-between; /* Espacio entre los elementos flexibles */
    align-items: center; /* Centrar los elementos flexibles */
}

section#Menu h2 {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    
}

ul {
    list-style: none;
}

menu-links {
    display: flex; /* Hacer que los enlaces sean flexibles */
    align-items: center; /* Centrar verticalmente los enlaces */
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: rgb(206 43 55);
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

a:hover {
    color: #333;
}

footer {
        border-radius: 10px; /* Bordes más redondos */

    color: rgb(255 255 255);
    background-color: rgb(206 43 55);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0; /* Ajusta la posición izquierda a 0 */
    right: 0; /* Ajusta la posición derecha a 0 */
    max-width: 1200px; /* Ancho máximo del elemento */
    margin: 0 auto; /* Centra el elemento en el espacio restante horizontalmente */
}

/* Estilos específicos para el formulario */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; /* Bordes más redondos */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px; /* Bordes más redondos */
}

legend {
    font-weight: bold;
    color: #ff8c00;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px; /* Bordes más redondos */
}

input[type="submit"] {
    background-color: #ff8c00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px; /* Bordes más redondos */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #333;
}
